{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <div id="map" style="width:500px; height:400px; margin:0 auto;"></div>
    </div>
</div>
<script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=38d34c29c097c5f5c8c02416cb4aefff"></script>
<script>
    navigator.geolocation.getCurrentPosition(
        function(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            // alert(lat +', '+ lng);
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(lat, lng), // 안동대학교
        level: 4
    };
    var map = new kakao.maps.Map(container, options);
    var markerPosition = new kakao.maps.LatLng(lat, lng);
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });
    marker.setMap(map);
    $.ajax({
        url: '/map_data/',
        data: {
            'lat':lat, 'lng':lng
        },
        success: function (res) {
            for (var i = 0; i < res.length; i++) {
                var marker = new kakao.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: new kakao.maps.LatLng(res[i].lat, res[i].lng),
                    title: res[i].title,
                });
            }
        }
    });
});
</script>
{% endblock %}